n8n_workflows/step_2_send_msg_contract.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sign",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1808,
        848
      ],
      "id": "c214ca8b-3a42-42d0-9626-38cba9e7b33a",
      "name": "trig_webhook_sign",
      "webhookId": "be674b0d-5b4c-4990-90b3-e0dc23f9161b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8457b9ec-4d60-46e1-9b85-d11a33ce32ef",
              "name": "parent_folder_id",
              "value": "12kp9ZpSkU8EIGwr0vyWStCO3_PpmwCy-",
              "type": "string"
            },
            {
              "id": "49040048-065b-4b63-892a-65d4e68099f5",
              "name": "file_name",
              "value": "={{ $('trig_webhook_sign').item.json.body.pdf_name.replace('.pdf', '').replace('.html', '') }}",
              "type": "string"
            },
            {
              "id": "2d57c51f-c2e3-493f-8d2f-4222c94f7876",
              "name": "doc_html",
              "value": "={{ $('trig_webhook_sign').item.json.body.html_contrato }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        848
      ],
      "id": "0bcdc876-067b-4f61-a5c2-e35ee9d9d394",
      "name": "set_vars_html_doc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "multipart/related; boundary=foo_bar_baz",
        "body": "=--foo_bar_baz\nContent-Type: application/json; charset=UTF-8\n\n{\n  \"name\": \"{{ $json.file_name }}\",\n  \"mimeType\": \"application/vnd.google-apps.document\",\n  \"parents\": [\"{{ $json.parent_folder_id }}\"]\n}\n--foo_bar_baz\nContent-Type: text/html; charset=UTF-8\n\n{{ $json.doc_html }}\n--foo_bar_baz--",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        720
      ],
      "id": "9ce522cd-0a9e-4cf5-9b45-7b3aa0d691b5",
      "name": "html_to_google_doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U3gk9gfW9ynkKc2U",
          "name": "Google Drive - Lucem"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1264,
        848
      ],
      "id": "5ba58554-2d78-4781-b8d4-d71e107178b4",
      "name": "wait_5_seconds",
      "webhookId": "2406ac07-7f32-450f-825f-d0274739c5f0"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('html_to_google_doc').item.json.id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1120,
        752
      ],
      "id": "0a64529a-a0b2-4408-acf6-3987fb917a18",
      "name": "download_doc_as_pdf",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U3gk9gfW9ynkKc2U",
          "name": "Google Drive - Lucem"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "12kp9ZpSkU8EIGwr0vyWStCO3_PpmwCy-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -944,
        848
      ],
      "id": "14bcc71f-24a7-4d60-a75f-837c67eeecd7",
      "name": "upload_pdf_to_drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U3gk9gfW9ynkKc2U",
          "name": "Google Drive - Lucem"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('html_to_google_doc').item.json.id }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -768,
        848
      ],
      "id": "1f864f31-ee43-403b-87e7-e54dad420b51",
      "name": "delete_temp_google_doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U3gk9gfW9ynkKc2U",
          "name": "Google Drive - Lucem"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc",
          "mode": "list",
          "cachedResultName": "CRM Escuela",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 212871594,
          "mode": "list",
          "cachedResultName": "alumnos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc/edit#gid=212871594"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('trig_webhook_sign').item.json.body.nombre }}",
            "Apellidos": "={{ $('trig_webhook_sign').item.json.body.apellidos }}",
            "Teléfono": "={{ $('trig_webhook_sign').item.json.body.telefono }}",
            "Correo electrónico": "={{ $('trig_webhook_sign').item.json.body.email }}",
            "Pais": "={{ $('trig_webhook_sign').item.json.body.pais }}",
            "Fecha de inicio": "={{ $('trig_webhook_sign').item.json.body.fecha_inicio }}",
            "Doc.Acuerdos": "={{ $('upload_pdf_to_drive').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo electrónico",
              "displayName": "Correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha de inicio",
              "displayName": "Fecha de inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Edad",
              "displayName": "Edad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Oficio",
              "displayName": "Oficio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Avatar",
              "displayName": "Avatar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Doc.Acuerdos",
              "displayName": "Doc.Acuerdos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Objetivo",
              "displayName": "Objetivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Antiguedad",
              "displayName": "Antiguedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        400
      ],
      "id": "491ddc1d-804c-46a0-9e85-70648bcd87be",
      "name": "post_sheets_alumnos",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HWj8LA3sWiJiLx8Y",
          "name": "Google Sheets - Lucem"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc",
          "mode": "list",
          "cachedResultName": "CRM Escuela",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1130178193,
          "mode": "list",
          "cachedResultName": "seguimiento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc/edit#gid=1130178193"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('trig_webhook_sign').item.json.body.nombre }}",
            "Apellidos": "={{ $('trig_webhook_sign').item.json.body.apellidos }}",
            "Teléfono": "={{ $('trig_webhook_sign').item.json.body.telefono }}",
            "Correo electrónico": "={{ $('trig_webhook_sign').item.json.body.email }}",
            "Grupo": "={{ $('trig_webhook_sign').item.json.body.grupo }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asistencia (I)",
              "displayName": "Asistencia (I)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo electrónico",
              "displayName": "Correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo",
              "displayName": "Grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Transición",
              "displayName": "Fecha Transición",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado (I)",
              "displayName": "Estado (I)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas (I)",
              "displayName": "Notas (I)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado (AH)",
              "displayName": "Estado (AH)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nivel Satifacción",
              "displayName": "Nivel Satifacción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas (AH)",
              "displayName": "Notas (AH)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha caso de exito",
              "displayName": "Fecha caso de exito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado (Upsell)",
              "displayName": "Estado (Upsell)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas (Upsell)",
              "displayName": "Notas (Upsell)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Metas",
              "displayName": "Metas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Proceso",
              "displayName": "Proceso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        640
      ],
      "id": "5a35c9c2-57b2-4f34-b863-4a091f6b0ca1",
      "name": "post_sheets_seguimiento",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HWj8LA3sWiJiLx8Y",
          "name": "Google Sheets - Lucem"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc",
          "mode": "list",
          "cachedResultName": "CRM Escuela",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 611307591,
          "mode": "list",
          "cachedResultName": "pagos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc/edit#gid=611307591"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('trig_webhook_sign').item.json.body.nombre }}",
            "Apellidos": "={{ $('trig_webhook_sign').item.json.body.apellidos }}",
            "Teléfono": "={{ $('trig_webhook_sign').item.json.body.telefono }}",
            "Correo electrónico": "={{ $('trig_webhook_sign').item.json.body.email }}",
            "Plan": "={{ $('trig_webhook_sign').item.json.body.plan }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataforma",
              "displayName": "Plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo electrónico",
              "displayName": "Correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo electrónico Stripe",
              "displayName": "Correo electrónico Stripe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de compra",
              "displayName": "Fecha de compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha finalización pago",
              "displayName": "Fecha finalización pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Inversión total",
              "displayName": "Inversión total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Importe pendiente",
              "displayName": "Importe pendiente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cuotas totales",
              "displayName": "Cuotas totales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cuotas pendientes",
              "displayName": "Cuotas pendientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas pagos",
              "displayName": "Notas pagos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        848
      ],
      "id": "be2880d0-0b5c-495f-9517-a304cae36ff4",
      "name": "post_sheets_pagos",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HWj8LA3sWiJiLx8Y",
          "name": "Google Sheets - Lucem"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e931e21b-6f81-42cb-b1b7-aeb8af04b6b1",
              "leftValue": "={{ ['alquimia_vital_eca', 'alquimia_vilal_eca'].includes($('trig_webhook_sign').item.json.body.tipo_contrato) }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -288,
        848
      ],
      "id": "7c7bdf2d-51ee-4689-9461-e08cfefc0e00",
      "name": "flow_check_contrato"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/groups/120363424654026759@g.us/participants/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"participants\": [ \"{{ $('trig_webhook_sign').item.json.body.telefono_cliente }}\" ] }",
        "options": {}
      },
      "id": "c2699576-6194-437b-bc80-8517150c0a2d",
      "name": "post_whatsapp_group_alma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        672
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "bBcrdGrIXhIAjFzs",
          "name": "WasenderAPI - Lucem (Principal)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/groups/120363364922610977@g.us/participants/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"participants\": [ \"{{ $('trig_webhook_sign').item.json.body.telefono_cliente }}\" ] }",
        "options": {}
      },
      "id": "1f88a399-e06e-4b7e-b51f-afcb801a1a38",
      "name": "post_whatsapp_group_alquimia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        832
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "bBcrdGrIXhIAjFzs",
          "name": "WasenderAPI - Lucem (Principal)"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MtZZo07pFWAy5RxqU6CqJ6Oz8ufR4iKo6UWs8xJUGzo",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1266441844,
          "mode": "list",
          "cachedResultName": "Informes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MtZZo07pFWAy5RxqU6CqJ6Oz8ufR4iKo6UWs8xJUGzo/edit#gid=1266441844"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        1280
      ],
      "id": "db5a5a3f-506e-4d77-af4e-8a1a89429689",
      "name": "get_sheet_informes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HWj8LA3sWiJiLx8Y",
          "name": "Google Sheets - Lucem"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const clientPhone = $('trig_webhook_sign').item.json.body.telefono || $('trig_webhook_sign').item.json.body.telefono_cliente || '';\nconst cleanClientPhone = String(clientPhone).replace(/\\D/g, '');\n\nif (!cleanClientPhone) {\n  throw new Error(\"No se encontró el teléfono del cliente en el Webhook\");\n}\n\nlet matchedRow = null;\nfor (const item of $input.all()) {\n  const row = item.json;\n  for (const key in row) {\n    const val = row[key];\n    if (val !== null && val !== undefined) {\n      const cleanVal = String(val).replace(/\\D/g, '');\n      if (cleanVal.length >= 8 && (cleanVal.endsWith(cleanClientPhone) || cleanClientPhone.endsWith(cleanVal))) {\n        matchedRow = row;\n        break;\n      }\n    }\n  }\n  if (matchedRow) break;\n}\n\nif (!matchedRow) {\n  // Fallback: Buscar por nombre del alumno\n  const clientName = ($('trig_webhook_sign').item.json.body.nombre || '').toLowerCase().trim();\n  if (clientName) {\n    for (const item of $input.all()) {\n      const row = item.json;\n      for (const key in row) {\n        const val = row[key];\n        if (val !== null && val !== undefined && String(val).toLowerCase().includes(clientName)) {\n          matchedRow = row;\n          break;\n        }\n      }\n      if (matchedRow) break;\n    }\n  }\n}\n\nif (matchedRow) {\n  let transLink = '';\n  for (const key in matchedRow) {\n    const normKey = key.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n    if (normKey === 'transcripcion') {\n      transLink = String(matchedRow[key]);\n      break;\n    }\n  }\n  if (!transLink) {\n    transLink = matchedRow['Transcripción'] || matchedRow['Transcripcion'] || matchedRow['transcripcion'] || '';\n  }\n  let docId = '';\n  const match = String(transLink).match(/\\/d\\/([a-zA-Z0-9-_]+)/);\n  if (match && match[1]) {\n    docId = match[1];\n  }\n  return {\n    json: {\n      ...matchedRow,\n      docId,\n      hasDoc: docId !== ''\n    }\n  };\n}\n\nreturn {\n  json: {\n    notFound: true,\n    message: `No matched row for phone ${clientPhone}`,\n    docId: '',\n    hasDoc: false\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        1280
      ],
      "id": "75fe3a71-5f4f-471c-9d3a-a452cb70a099",
      "name": "find_client_row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b3e0c7a5-c2d1-4b14-8f0a-115f22ad89de",
              "leftValue": "={{ $json.hasDoc }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -144,
        1280
      ],
      "id": "54e7035e-6771-48e8-9eb6-cc4bb33bd46b",
      "name": "check_has_doc"
    },
    {
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}?includeTabsContent=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        1120
      ],
      "id": "1977c382-01a5-43d6-a636-363e1ccd077d",
      "name": "get_google_doc_text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U3gk9gfW9ynkKc2U",
          "name": "Google Drive - Lucem"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) {\n  return { json: { documentId: '', text: '' } };\n}\nconst docData = items[0].json;\n\nfunction extractTextFromContent(contentArray) {\n  if (!contentArray || !Array.isArray(contentArray)) return '';\n  let text = '';\n  for (const element of contentArray) {\n    if (element.paragraph) {\n      if (element.paragraph.elements) {\n        for (const el of element.paragraph.elements) {\n          if (el.textRun && el.textRun.content) {\n            text += el.textRun.content;\n          }\n        }\n      }\n    } else if (element.table) {\n      if (element.table.tableRows) {\n        for (const row of element.table.tableRows) {\n          if (row.tableCells) {\n            for (const cell of row.tableCells) {\n              text += extractTextFromContent(cell.content) + ' ';\n            }\n          }\n        }\n      }\n    } else if (element.tableOfContents) {\n      text += extractTextFromContent(element.tableOfContents.content);\n    }\n  }\n  return text;\n}\n\nfunction findTabByTitle(tabs, targetTitle) {\n  if (!tabs || !Array.isArray(tabs)) return null;\n  const normalize = (str) => String(str).toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").trim();\n  const targetNorm = normalize(targetTitle);\n  for (const tab of tabs) {\n    const title = (tab.tabProperties && tab.tabProperties.title) || (tab.tabHeader && tab.tabHeader.title) || '';\n    if (title) {\n      const tabNorm = normalize(title);\n      if (tabNorm === targetNorm || tabNorm.includes(targetNorm)) {\n        return tab;\n      }\n    }\n  }\n  for (const tab of tabs) {\n    if (tab.childTabs && tab.childTabs.length > 0) {\n      const found = findTabByTitle(tab.childTabs, targetTitle);\n      if (found) return found;\n    }\n  }\n  return null;\n}\n\nlet bodyToParse = null;\n\nif (docData.tabs && docData.tabs.length > 0) {\n  let targetTab = findTabByTitle(docData.tabs, 'Transcripción');\n  if (!targetTab) {\n    targetTab = findTabByTitle(docData.tabs, 'trans');\n  }\n  if (!targetTab) {\n    const findFirstDocTab = (tabsList) => {\n      for (const tab of tabsList) {\n        if (tab.documentTab && tab.documentTab.body) return tab;\n        if (tab.childTabs && tab.childTabs.length > 0) {\n          const found = findFirstDocTab(tab.childTabs);\n          if (found) return found;\n        }\n      }\n      return null;\n    };\n    targetTab = findFirstDocTab(docData.tabs);\n  }\n  if (targetTab && targetTab.documentTab && targetTab.documentTab.body) {\n    bodyToParse = targetTab.documentTab.body;\n  }\n}\n\nif (!bodyToParse && docData.body) {\n  bodyToParse = docData.body;\n}\n\nconst text = bodyToParse ? extractTextFromContent(bodyToParse.content) : '';\n\nreturn {\n  json: {\n    documentId: docData.documentId || '',\n    text: text.trim()\n  }\n};"
      },
      "id": "2e4bece0-5382-44c9-b16e-59310a0d3978",
      "name": "parse_google_doc_json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        1344
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=Eres un asistente experto en ventas y análisis de clientes. Analiza la siguiente transcripción completa de una llamada de venta y extrae detalladamente en español: 1. **Objetivos**: Qué metas o resultados busca conseguir el alumno. 2. **Dolores**: Qué frustraciones, miedos o problemas actuales tiene. 3. **Deseos**: Qué transformación o estado futuro ideal anhela.  Estructura el resultado con viñetas claras y profesionales, listas para ser enviadas por WhatsApp. Sin saludos ni introduciones.  Transcripción de la llamada: {{ $json.text || \"No disponible.\" }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        304,
        1200
      ],
      "id": "cf940bdb-fce7-42ac-92fc-d4ac41364fc6",
      "name": "agent_extract_objectives",
      "credentials": {
        "openAiApi": {
          "id": "M9J3rAIJNEjdyXGG",
          "name": "Cerebro"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ba8c91-fd4d-4a1d-aefb-b9fc2ed3a2df",
              "name": "output",
              "value": "No se encontró una transcripción o documento de llamada asociado a este alumno.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        1584
      ],
      "id": "503ff336-5dfa-4669-be16-ffe3ce42fc2e",
      "name": "set_empty_objectives"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('trig_webhook_sign').first().json.body.closer_name }}",
        "rules": {
          "rules": [
            {
              "value2": "Daniel"
            },
            {
              "value2": "Albert",
              "output": 1
            },
            {
              "value2": "Nathalia",
              "output": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        512,
        1280
      ],
      "id": "fa0669d4-b691-4d66-8256-587a2aadc61b",
      "name": "switch_closer_notify"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('trig_webhook_sign').first().json.body.telefono }}"
            },
            {
              "name": "text",
              "value": "=const shortName = \n*¡NUEVO ALUMNO! *\n\n*👤 Datos del Alumno:*\n• *Nombre:* {{ $('trig_webhook_sign').first().json.body.nombre }} {{ $('trig_webhook_sign').first().json.body.apellidos }}\n• *WhatsApp:* {{'https://wa.me/'+ $('trig_webhook_sign').first().json.body.telefono }}\n• *Email:* {{ $('trig_webhook_sign').first().json.body.email_cliente }}\n\n*📝 Contrato en PDF (Google Drive):*\n{{ $('upload_pdf_to_drive').first().json.webViewLink }}\n\n*🎯 Objetivos, Dolores y Deseos:*\n{{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a5288b5-8a52-4427-b4bd-d02e865443bf",
      "name": "post_whatsapp_daniel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        1120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "Lwon3g7FdqiloRV0",
          "name": "WasenderAPI - Daniel"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('trig_webhook_sign').first().json.body.telefono }} "
            },
            {
              "name": "text",
              "value": "=*¡NUEVO ALUMNO! *\n\n*👤 Datos del Alumno:*\n• *Nombre:* {{ $('trig_webhook_sign').first().json.body.nombre }} {{ $('trig_webhook_sign').first().json.body.apellidos }}\n• *WhatsApp:* {{'https://wa.me/'+ $('trig_webhook_sign').first().json.body.telefono }}\n• *Email:* {{ $('trig_webhook_sign').first().json.body.email_cliente }}\n\n*📝 Contrato en PDF (Google Drive):*\n{{ $('upload_pdf_to_drive').first().json.webViewLink }}\n\n*🎯 Objetivos, Dolores y Deseos:*\n{{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7d6858e3-c674-4679-b736-0fdf523cb9ff",
      "name": "post_whatsapp_albert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        1344
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "9S2DAqv04jplTv0h",
          "name": "WasenderAPI - Albert"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('trig_webhook_sign').first().json.body.telefono }} "
            },
            {
              "name": "text",
              "value": "=*¡NUEVO ALUMNO! *\n\n*👤 Datos del Alumno:*\n• *Nombre:* {{ $('trig_webhook_sign').first().json.body.nombre }} {{ $('trig_webhook_sign').first().json.body.apellidos }}\n• *WhatsApp:* {{'https://wa.me/'+ $('trig_webhook_sign').first().json.body.telefono }}\n• *Email:* {{ $('trig_webhook_sign').first().json.body.email_cliente }}\n\n*📝 Contrato en PDF (Google Drive):*\n{{ $('upload_pdf_to_drive').first().json.webViewLink }}\n\n*🎯 Objetivos, Dolores y Deseos:*\n{{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4ebf0663-c39c-4863-8f7f-5ecc1ad2e1a9",
      "name": "post_whatsapp_nathatia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        1568
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "BAwn067QUZPtpGJt",
          "name": "WasenderAPI - Natalia"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{$('trig_webhook_sign').first().json.body.telefono }}"
            },
            {
              "name": "text",
              "value": "=¡Hola {{ $('trig_webhook_sign').first().json.body.nombre }}! ¡Me hace feliz poder darte la bienvenida a Alquimia Vital!\n\nMi nombre es Raffaele, soy uno de los profesores de la escuela (quien se encargará de acompañarte durante el proceso de bienvenida)\n\nPor otro lado: Aquí te dejo un enlace para que puedas agendar una llamada de bienvenida conmigo para entregarte todos los accesos pendientes, resolver dudas y darte claridad:\n\nhttps://calendly.com/d/cx3d-p6h-qq4/onboarding-alquimia-vital \n\nSi no encuentras una hora que te sea accesible en el calendario, comentamelo por aquí y buscamos una que se adapte a tí.\n"
            }
          ]
        },
        "options": {}
      },
      "id": "85d23635-abc7-4e4a-be4f-0fe69b5390d7",
      "name": "post_whatsapp_rafaelle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        1344
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "xDFk24FzXNABSkxt",
          "name": "WasenderAPI- Rafaelle"
        }
      }
    }
  ],
  "connections": {
    "trig_webhook_sign": {
      "main": [
        [
          {
            "node": "set_vars_html_doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_vars_html_doc": {
      "main": [
        [
          {
            "node": "html_to_google_doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "html_to_google_doc": {
      "main": [
        [
          {
            "node": "wait_5_seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait_5_seconds": {
      "main": [
        [
          {
            "node": "download_doc_as_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_doc_as_pdf": {
      "main": [
        [
          {
            "node": "upload_pdf_to_drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_pdf_to_drive": {
      "main": [
        [
          {
            "node": "delete_temp_google_doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete_temp_google_doc": {
      "main": [
        [
          {
            "node": "post_sheets_alumnos",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_sheet_informes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_sheets_alumnos": {
      "main": [
        [
          {
            "node": "post_sheets_seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_sheets_seguimiento": {
      "main": [
        [
          {
            "node": "post_sheets_pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_sheets_pagos": {
      "main": [
        [
          {
            "node": "flow_check_contrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flow_check_contrato": {
      "main": [
        [
          {
            "node": "post_whatsapp_group_alma",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "post_whatsapp_group_alquimia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_whatsapp_group_alma": {
      "main": [
        [
          {
            "node": "post_whatsapp_group_alquimia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_sheet_informes": {
      "main": [
        [
          {
            "node": "find_client_row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find_client_row": {
      "main": [
        [
          {
            "node": "check_has_doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_has_doc": {
      "main": [
        [
          {
            "node": "get_google_doc_text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_empty_objectives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_google_doc_text": {
      "main": [
        [
          {
            "node": "parse_google_doc_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_google_doc_json": {
      "main": [
        [
          {
            "node": "agent_extract_objectives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agent_extract_objectives": {
      "main": [
        [
          {
            "node": "switch_closer_notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_empty_objectives": {
      "main": [
        [
          {
            "node": "switch_closer_notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_closer_notify": {
      "main": [
        [
          {
            "node": "post_whatsapp_daniel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "post_whatsapp_albert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "post_whatsapp_nathatia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_whatsapp_daniel": {
      "main": [
        [
          {
            "node": "post_whatsapp_rafaelle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_whatsapp_albert": {
      "main": [
        [
          {
            "node": "post_whatsapp_rafaelle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_whatsapp_nathatia": {
      "main": [
        [
          {
            "node": "post_whatsapp_rafaelle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5fb31353bf4dc16311b0347ead4b884fad18ae1960ff4cbda8f09bf4a2cad0c8"
  }
}