n8n_workflows/step_1_send_msg_welcome.json
{
  "nodes": [
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.closer_name }}",
        "rules": {
          "rules": [
            {
              "value2": "Daniel"
            },
            {
              "value2": "Albert",
              "output": 1
            },
            {
              "value2": "Nathalia",
              "output": 2
            },
            {
              "value2": "Desconocido",
              "output": 3
            }
          ]
        }
      },
      "id": "08e9ed1b-c1d1-459f-a5fe-a248479442d9",
      "name": "Switch por Closer",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1952,
        -224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Edit Fields').item.json.telefono_alumno }}"
            },
            {
              "name": "text",
              "value": "={{ $('Edit Fields').item.json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6d4ac875-39d0-4b4f-965b-50e87e5c9b88",
      "name": "post_whatsapp_daniel1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        -432
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "Lwon3g7FdqiloRV0",
          "name": "WasenderAPI - Daniel"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Edit Fields').item.json.telefono_alumno }}"
            },
            {
              "name": "text",
              "value": "={{ $('Edit Fields').item.json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1722487b-6f5a-4af9-9cd1-6ee51c987055",
      "name": "post_whatsapp_albert1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        -208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "9S2DAqv04jplTv0h",
          "name": "WasenderAPI - Albert"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Edit Fields').item.json.telefono_alumno }}"
            },
            {
              "name": "text",
              "value": "={{ $('Edit Fields').item.json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2e8d38c4-e4f8-4e15-ab3a-1dceb4813573",
      "name": "post_whatsapp_nathatia1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        32
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "BAwn067QUZPtpGJt",
          "name": "WasenderAPI - Natalia"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welcome",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2384,
        -192
      ],
      "id": "c6093da7-4fe4-4c8a-aa17-e49ec64ac3e1",
      "name": "trig_webhook_welcome",
      "webhookId": "ea7e22da-5247-4422-afd6-e7825a8bae27"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.telefono_alumno }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f77a525b-ae12-419c-b375-01bfbf35f95e",
      "name": "post_whatsapp_nathatia2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1952,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "2f8MA96Nn3KRDTQQ",
          "name": "WasernderAPI - Lucem (secundario)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a825cd9e-2994-48f0-987d-964249a08f57",
              "name": "mensaje",
              "value": "=Hola {{ $json.body.nombre_cliente }}, aquí tienes el acuerdo de acceso:\n\n{{ $json.body.link_contrato }}\n\nLeelo con calma y en cuanto termines, el equipo de la escuela te contactará y te enviarán los accesos",
              "type": "string"
            },
            {
              "id": "be789929-19b0-4cf5-9bcc-492995c04322",
              "name": "closer_name",
              "value": "={{ $json.body.closer_name }}",
              "type": "string"
            },
            {
              "id": "38f2307a-698b-47f4-864b-61d56be8f718",
              "name": "telefono_alumno",
              "value": "={{ $json.body.telefono_cliente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2176,
        -192
      ],
      "id": "74888f59-c160-45df-9378-0d2b7ecd3bde",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Switch por Closer": {
      "main": [
        [
          {
            "node": "post_whatsapp_daniel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "post_whatsapp_albert1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "post_whatsapp_nathatia1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "post_whatsapp_nathatia2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trig_webhook_welcome": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch por Closer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5fb31353bf4dc16311b0347ead4b884fad18ae1960ff4cbda8f09bf4a2cad0c8"
  }
}