n8n_workflows/step_2_send_msg_contract.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sign",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2704,
        1136
      ],
      "id": "c214ca8b-3a42-42d0-9626-38cba9e7b33a",
      "name": "trig_webhook_sign",
      "webhookId": "be674b0d-5b4c-4990-90b3-e0dc23f9161b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "multipart/related; boundary=foo_bar_baz",
        "body": "=--foo_bar_baz\nContent-Type: application/json; charset=UTF-8\n\n{\n  \"name\": \"{{ $json.file_name }}\",\n  \"mimeType\": \"application/vnd.google-apps.document\",\n  \"parents\": [\"{{ $json.parent_folder_id }}\"]\n}\n--foo_bar_baz\nContent-Type: text/html; charset=UTF-8\n\n{{ $json.doc_html }}\n--foo_bar_baz--",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1984,
        1136
      ],
      "id": "9ce522cd-0a9e-4cf5-9b45-7b3aa0d691b5",
      "name": "html_to_google_doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U3gk9gfW9ynkKc2U",
          "name": "Google Drive - Lucem"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1744,
        1136
      ],
      "id": "5ba58554-2d78-4781-b8d4-d71e107178b4",
      "name": "wait_5_seconds",
      "webhookId": "2406ac07-7f32-450f-825f-d0274739c5f0"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('html_to_google_doc').item.json.id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1504,
        1136
      ],
      "id": "0a64529a-a0b2-4408-acf6-3987fb917a18",
      "name": "download_doc_as_pdf",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U3gk9gfW9ynkKc2U",
          "name": "Google Drive - Lucem"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "12kp9ZpSkU8EIGwr0vyWStCO3_PpmwCy-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1280,
        1136
      ],
      "id": "14bcc71f-24a7-4d60-a75f-837c67eeecd7",
      "name": "upload_pdf_to_drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U3gk9gfW9ynkKc2U",
          "name": "Google Drive - Lucem"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('html_to_google_doc').item.json.id }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1056,
        1136
      ],
      "id": "1f864f31-ee43-403b-87e7-e54dad420b51",
      "name": "delete_temp_google_doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U3gk9gfW9ynkKc2U",
          "name": "Google Drive - Lucem"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc",
          "mode": "list",
          "cachedResultName": "CRM Escuela",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 212871594,
          "mode": "list",
          "cachedResultName": "alumnos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc/edit#gid=212871594"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('trig_webhook_sign').item.json.body.nombre }}",
            "Apellidos": "={{ $('trig_webhook_sign').item.json.body.apellidos }}",
            "Teléfono": "={{ $('trig_webhook_sign').item.json.body.telefono }}",
            "Correo electrónico": "={{ $('trig_webhook_sign').item.json.body.email }}",
            "Pais": "={{ $('calc_country_detect').item.json.countryName }}",
            "Fecha de inicio": "={{ $('trig_webhook_sign').item.json.body.fecha_inicio }}",
            "Doc.Acuerdos": "={{ $('upload_pdf_to_drive').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo electrónico",
              "displayName": "Correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha de inicio",
              "displayName": "Fecha de inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Edad",
              "displayName": "Edad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Oficio",
              "displayName": "Oficio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Avatar",
              "displayName": "Avatar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Doc.Acuerdos",
              "displayName": "Doc.Acuerdos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Objetivo",
              "displayName": "Objetivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Antiguedad",
              "displayName": "Antiguedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -592,
        816
      ],
      "id": "491ddc1d-804c-46a0-9e85-70648bcd87be",
      "name": "post_sheets_alumnos",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HWj8LA3sWiJiLx8Y",
          "name": "Google Sheets - Lucem"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc",
          "mode": "list",
          "cachedResultName": "CRM Escuela",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1130178193,
          "mode": "list",
          "cachedResultName": "seguimiento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc/edit#gid=1130178193"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('trig_webhook_sign').item.json.body.nombre }}",
            "Apellidos": "={{ $('trig_webhook_sign').item.json.body.apellidos }}",
            "Teléfono": "={{ $('trig_webhook_sign').item.json.body.telefono }}",
            "Correo electrónico": "={{ $('trig_webhook_sign').item.json.body.email }}",
            "Grupo": "={{ $('calc_grupos').item.json.grupos }}",
            "Estado": "Activo",
            "Estado (I)": "Correcto"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asistencia (I)",
              "displayName": "Asistencia (I)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo electrónico",
              "displayName": "Correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo",
              "displayName": "Grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Transición",
              "displayName": "Fecha Transición",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado (I)",
              "displayName": "Estado (I)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notas (I)",
              "displayName": "Notas (I)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado (AH)",
              "displayName": "Estado (AH)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nivel Satifacción",
              "displayName": "Nivel Satifacción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas (AH)",
              "displayName": "Notas (AH)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha caso de exito",
              "displayName": "Fecha caso de exito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado (Upsell)",
              "displayName": "Estado (Upsell)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas (Upsell)",
              "displayName": "Notas (Upsell)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Metas",
              "displayName": "Metas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Proceso",
              "displayName": "Proceso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        816
      ],
      "id": "5a35c9c2-57b2-4f34-b863-4a091f6b0ca1",
      "name": "post_sheets_seguimiento",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HWj8LA3sWiJiLx8Y",
          "name": "Google Sheets - Lucem"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc",
          "mode": "list",
          "cachedResultName": "CRM Escuela",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 611307591,
          "mode": "list",
          "cachedResultName": "pagos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vS2USdLwVb0jdelPvtcEMtdR9YvGybom1gXCmBeiWIc/edit#gid=611307591"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('trig_webhook_sign').item.json.body.nombre }}",
            "Apellidos": "={{ $('trig_webhook_sign').item.json.body.apellidos }}",
            "Teléfono": "={{ $('trig_webhook_sign').item.json.body.telefono }}",
            "Correo electrónico": "={{ $('trig_webhook_sign').item.json.body.email }}",
            "Plan": "={{ $('calc_grupos').item.json.plan }}",
            "Estado": "Pendiente"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataforma",
              "displayName": "Plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo electrónico",
              "displayName": "Correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo electrónico Stripe",
              "displayName": "Correo electrónico Stripe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de compra",
              "displayName": "Fecha de compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha finalización pago",
              "displayName": "Fecha finalización pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Inversión total",
              "displayName": "Inversión total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Importe pendiente",
              "displayName": "Importe pendiente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cuotas totales",
              "displayName": "Cuotas totales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cuotas pendientes",
              "displayName": "Cuotas pendientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas pagos",
              "displayName": "Notas pagos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        816
      ],
      "id": "be2880d0-0b5c-495f-9517-a304cae36ff4",
      "name": "post_sheets_pagos",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HWj8LA3sWiJiLx8Y",
          "name": "Google Sheets - Lucem"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e931e21b-6f81-42cb-b1b7-aeb8af04b6b1",
              "leftValue": "={{ ['alquimia_vital_eca', 'alquimia_vilal_eca'].includes($('trig_webhook_sign').item.json.body.tipo_contrato) }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        400,
        816
      ],
      "id": "7c7bdf2d-51ee-4689-9461-e08cfefc0e00",
      "name": "flow_check_contrato"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/groups/120363424654026759@g.us/participants/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"participants\": [ \"{{ $('trig_webhook_sign').item.json.body.telefono_cliente }}\" ] }",
        "options": {}
      },
      "id": "c2699576-6194-437b-bc80-8517150c0a2d",
      "name": "post_whatsapp_group_alma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        640
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "bBcrdGrIXhIAjFzs",
          "name": "WasenderAPI - Lucem (Principal)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/groups/120363364922610977@g.us/participants/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"participants\": [ \"{{ $('trig_webhook_sign').item.json.body.telefono_cliente }}\" ] }",
        "options": {}
      },
      "id": "1f88a399-e06e-4b7e-b51f-afcb801a1a38",
      "name": "post_whatsapp_group_alquimia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        832
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "bBcrdGrIXhIAjFzs",
          "name": "WasenderAPI - Lucem (Principal)"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MtZZo07pFWAy5RxqU6CqJ6Oz8ufR4iKo6UWs8xJUGzo",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1266441844,
          "mode": "list",
          "cachedResultName": "Informes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MtZZo07pFWAy5RxqU6CqJ6Oz8ufR4iKo6UWs8xJUGzo/edit#gid=1266441844"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefono_lead",
              "lookupValue": "={{ $('trig_webhook_sign').item.json.body.telefono_cliente }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -832,
        1344
      ],
      "id": "db5a5a3f-506e-4d77-af4e-8a1a89429689",
      "name": "get_sheet_informes",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HWj8LA3sWiJiLx8Y",
          "name": "Google Sheets - Lucem"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b3e0c7a5-c2d1-4b14-8f0a-115f22ad89de",
              "leftValue": "={{ !$json.transcripcion }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -400,
        1344
      ],
      "id": "54e7035e-6771-48e8-9eb6-cc4bb33bd46b",
      "name": "check_has_doc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ba8c91-fd4d-4a1d-aefb-b9fc2ed3a2df",
              "name": "output",
              "value": "No se encontró una transcripción o documento de llamada asociado a este alumno.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        1632
      ],
      "id": "503ff336-5dfa-4669-be16-ffe3ce42fc2e",
      "name": "set_empty_objectives"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('trig_webhook_sign').item.json.body.closer_name }}",
        "rules": {
          "rules": [
            {
              "value2": "Daniel"
            },
            {
              "value2": "Albert",
              "output": 1
            },
            {
              "value2": "Nathalia",
              "output": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1088,
        1280
      ],
      "id": "fa0669d4-b691-4d66-8256-587a2aadc61b",
      "name": "switch_closer_notify"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "393762131734"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a5288b5-8a52-4427-b4bd-d02e865443bf",
      "name": "post_whatsapp_daniel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        1072
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "Lwon3g7FdqiloRV0",
          "name": "WasenderAPI - Daniel"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=393762131734"
            },
            {
              "name": "text",
              "value": "=*¡NUEVO ALUMNO! *\n\n*👤 Datos del Alumno:*\n• *Nombre:* {{ $('trig_webhook_sign').first().json.body.nombre }} {{ $('trig_webhook_sign').first().json.body.apellidos }}\n• *WhatsApp:* {{'https://wa.me/'+ $('trig_webhook_sign').first().json.body.telefono }}\n• *Email:* {{ $('trig_webhook_sign').first().json.body.email_cliente }}\n\n*📝 Contrato en PDF (Google Drive):*\n{{ $('upload_pdf_to_drive').first().json.webViewLink }}\n\n*🎯 Objetivos, Dolores y Deseos:*\n{{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7d6858e3-c674-4679-b736-0fdf523cb9ff",
      "name": "post_whatsapp_albert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        1296
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "9S2DAqv04jplTv0h",
          "name": "WasenderAPI - Albert"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=393762131734"
            },
            {
              "name": "text",
              "value": "=*¡NUEVO ALUMNO! *\n\n*👤 Datos del Alumno:*\n• *Nombre:* {{ $('trig_webhook_sign').first().json.body.nombre }} {{ $('trig_webhook_sign').first().json.body.apellidos }}\n• *WhatsApp:* {{'https://wa.me/'+ $('trig_webhook_sign').first().json.body.telefono }}\n• *Email:* {{ $('trig_webhook_sign').first().json.body.email_cliente }}\n\n*📝 Contrato en PDF (Google Drive):*\n{{ $('upload_pdf_to_drive').first().json.webViewLink }}\n\n*🎯 Objetivos, Dolores y Deseos:*\n{{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4ebf0663-c39c-4863-8f7f-5ecc1ad2e1a9",
      "name": "post_whatsapp_nathatia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        1504
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "BAwn067QUZPtpGJt",
          "name": "WasenderAPI - Natalia"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{$('trig_webhook_sign').first().json.body.telefono }}"
            },
            {
              "name": "text",
              "value": "=¡Hola {{ $('trig_webhook_sign').first().json.body.nombre }}! ¡Me hace feliz poder darte la bienvenida a Alquimia Vital!\n\nMi nombre es Raffaele, soy uno de los profesores de la escuela (quien se encargará de acompañarte durante el proceso de bienvenida)\n\nPor otro lado: Aquí te dejo un enlace para que puedas agendar una llamada de bienvenida conmigo para entregarte todos los accesos pendientes, resolver dudas y darte claridad:\n\nhttps://calendly.com/d/cx3d-p6h-qq4/onboarding-alquimia-vital \n\nSi no encuentras una hora que te sea accesible en el calendario, comentamelo por aquí y buscamos una que se adapte a tí.\n"
            }
          ]
        },
        "options": {}
      },
      "id": "85d23635-abc7-4e4a-be4f-0fe69b5390d7",
      "name": "post_whatsapp_rafaelle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        1296
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "xDFk24FzXNABSkxt",
          "name": "WasenderAPI- Rafaelle"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mejora la tipografia del documento antes de convertirlo a Google Doc.\n// Google Docs IGNORA el bloque <style>; solo respeta estilos inline en cada etiqueta.\n// Por eso quitamos el <style> y aplicamos los estilos directamente en cada tag.\nconst SERIF = '\"Times New Roman\", serif';\nconst NAVY = '#1f3864';\nconst TEXT = '#1a1a1a';\n\nreturn $input.all().map(item => {\n  let html = item.json.doc_html || '';\n\n  // Quitar el bloque <style> (causa del texto justificado en Arial)\n  html = html.replace(/<style[\\s\\S]*?<\\/style>/gi, '');\n\n  // Encabezados: serif, azul marino, negrita\n  html = html.replace(/<h1\\b(?![^>]*\\bstyle=)/gi, `<h1 style='font-family:${SERIF};font-size:20pt;font-weight:bold;color:${NAVY};margin-top:18pt;margin-bottom:8pt;'`);\n  html = html.replace(/<h2\\b(?![^>]*\\bstyle=)/gi, `<h2 style='font-family:${SERIF};font-size:16pt;font-weight:bold;color:${NAVY};margin-top:16pt;margin-bottom:6pt;'`);\n  html = html.replace(/<h3\\b(?![^>]*\\bstyle=)/gi, `<h3 style='font-family:${SERIF};font-size:13pt;font-weight:bold;color:${NAVY};margin-top:12pt;margin-bottom:4pt;'`);\n\n  // Parrafos: serif, alineado a la izquierda, interlineado comodo\n  html = html.replace(/<p\\b(?![^>]*\\bstyle=)/gi, `<p style='font-family:${SERIF};font-size:12pt;color:${TEXT};line-height:1.5;text-align:left;margin-bottom:10pt;'`);\n\n  // Vinetas\n  html = html.replace(/<li\\b(?![^>]*\\bstyle=)/gi, `<li style='font-family:${SERIF};font-size:12pt;color:${TEXT};line-height:1.5;text-align:left;margin-bottom:6pt;'`);\n\n  // Negritas resaltadas en azul marino\n  html = html.replace(/<strong\\b(?![^>]*\\bstyle=)/gi, `<strong style='font-family:${SERIF};color:${NAVY};'`);\n\n  // Limitar el tamano de la imagen de la firma\n  html = html.replace(/<img\\b(?![^>]*\\bstyle=)/gi, `<img style='height:90px;'`);\n\n  return { json: { ...item.json, doc_html: html }, pairedItem: { item: 0 } };\n});\n"
      },
      "id": "e1ebb105-8337-4c6d-bd92-0ca6c4310e9a",
      "name": "style_html_doc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        1136
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8457b9ec-4d60-46e1-9b85-d11a33ce32ef",
              "name": "parent_folder_id",
              "value": "12kp9ZpSkU8EIGwr0vyWStCO3_PpmwCy-",
              "type": "string"
            },
            {
              "id": "49040048-065b-4b63-892a-65d4e68099f5",
              "name": "file_name",
              "value": "={{ $('trig_webhook_sign').item.json.body.pdf_name.replace('.pdf', '').replace('.html', '') }}",
              "type": "string"
            },
            {
              "id": "2d57c51f-c2e3-493f-8d2f-4222c94f7876",
              "name": "doc_html",
              "value": "={{ $('trig_webhook_sign').item.json.body.html_contrato }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2480,
        1136
      ],
      "id": "0bcdc876-067b-4f61-a5c2-e35ee9d9d394",
      "name": "set_vars_html_doc"
    },
    {
      "parameters": {
        "jsCode": "const dialMap = [\n  // ======= LATAM =======\n  { code: '598', countryName: 'Uruguay',   countryCode: 'UY', timeZone: 'America/Montevideo' },\n  { code: '597', countryName: 'Surinam',   countryCode: 'SR', timeZone: 'America/Paramaribo' },\n  { code: '596', countryName: 'Martinica', countryCode: 'MQ', timeZone: 'America/Martinique' },\n  { code: '595', countryName: 'Paraguay',  countryCode: 'PY', timeZone: 'America/Asuncion' },\n  { code: '594', countryName: 'Guayana Francesa', countryCode: 'GF', timeZone: 'America/Cayenne' },\n  { code: '593', countryName: 'Ecuador',   countryCode: 'EC', timeZone: 'America/Guayaquil' },\n  { code: '592', countryName: 'Guyana',    countryCode: 'GY', timeZone: 'America/Guyana' },\n  { code: '591', countryName: 'Bolivia',   countryCode: 'BO', timeZone: 'America/La_Paz' },\n  { code: '590', countryName: 'Guadalupe', countryCode: 'GP', timeZone: 'America/Guadeloupe' },\n  { code: '58',  countryName: 'Venezuela', countryCode: 'VE', timeZone: 'America/Caracas' },\n  { code: '57',  countryName: 'Colombia',  countryCode: 'CO', timeZone: 'America/Bogota' },\n  { code: '56',  countryName: 'Chile',     countryCode: 'CL', timeZone: 'America/Santiago' },\n  { code: '55',  countryName: 'Brasil',    countryCode: 'BR', timeZone: 'America/Sao_Paulo' },\n  { code: '54',  countryName: 'Argentina', countryCode: 'AR', timeZone: 'America/Argentina/Buenos_Aires' },\n  { code: '53',  countryName: 'Cuba',      countryCode: 'CU', timeZone: 'America/Havana' },\n  { code: '52',  countryName: 'México',    countryCode: 'MX', timeZone: 'America/Mexico_City' },\n  { code: '51',  countryName: 'Perú',      countryCode: 'PE', timeZone: 'America/Lima' },\n  { code: '507', countryName: 'Panamá',    countryCode: 'PA', timeZone: 'America/Panama' },\n  { code: '506', countryName: 'Costa Rica', countryCode: 'CR', timeZone: 'America/Costa_Rica' },\n  { code: '505', countryName: 'Nicaragua', countryCode: 'NI', timeZone: 'America/Managua' },\n  { code: '504', countryName: 'Honduras',  countryCode: 'HN', timeZone: 'America/Tegucigalpa' },\n  { code: '503', countryName: 'El Salvador', countryCode: 'SV', timeZone: 'America/El_Salvador' },\n  { code: '502', countryName: 'Guatemala', countryCode: 'GT', timeZone: 'America/Guatemala' },\n  { code: '501', countryName: 'Belice',    countryCode: 'BZ', timeZone: 'America/Belize' },\n  { code: '1',   countryName: 'NANP (EE. UU./Canadá/Caribe)', countryCode: 'NANP', timeZone: 'America/New_York' },\n\n  // ======= EUROPA =======\n  { code: '386', countryName: 'Eslovenia', countryCode: 'SI', timeZone: 'Europe/Ljubljana' },\n  { code: '385', countryName: 'Croacia',   countryCode: 'HR', timeZone: 'Europe/Zagreb' },\n  { code: '383', countryName: 'Kosovo',    countryCode: 'XK', timeZone: 'Europe/Belgrade' },\n  { code: '382', countryName: 'Montenegro', countryCode: 'ME', timeZone: 'Europe/Podgorica' },\n  { code: '381', countryName: 'Serbia',    countryCode: 'RS', timeZone: 'Europe/Belgrade' },\n  { code: '380', countryName: 'Ucrania',   countryCode: 'UA', timeZone: 'Europe/Kyiv' },\n  { code: '378', countryName: 'San Marino', countryCode: 'SM', timeZone: 'Europe/Rome' },\n  { code: '377', countryName: 'Mónaco',    countryCode: 'MC', timeZone: 'Europe/Monaco' },\n  { code: '376', countryName: 'Andorra',   countryCode: 'AD', timeZone: 'Europe/Andorra' },\n  { code: '375', countryName: 'Bielorrusia', countryCode: 'BY', timeZone: 'Europe/Minsk' },\n  { code: '374', countryName: 'Armenia',   countryCode: 'AM', timeZone: 'Asia/Yerevan' },\n  { code: '373', countryName: 'Moldavia',  countryCode: 'MD', timeZone: 'Europe/Chisinau' },\n  { code: '372', countryName: 'Estonia',   countryCode: 'EE', timeZone: 'Europe/Tallinn' },\n  { code: '371', countryName: 'Letonia',   countryCode: 'LV', timeZone: 'Europe/Riga' },\n  { code: '370', countryName: 'Lituania',  countryCode: 'LT', timeZone: 'Europe/Vilnius' },\n  { code: '359', countryName: 'Bulgaria',  countryCode: 'BG', timeZone: 'Europe/Sofia' },\n  { code: '358', countryName: 'Finlandia', countryCode: 'FI', timeZone: 'Europe/Helsinki' },\n  { code: '357', countryName: 'Chipre',    countryCode: 'CY', timeZone: 'Asia/Nicosia' },\n  { code: '356', countryName: 'Malta',     countryCode: 'MT', timeZone: 'Europe/Malta' },\n  { code: '355', countryName: 'Albania',   countryCode: 'AL', timeZone: 'Europe/Tirane' },\n  { code: '354', countryName: 'Islandia',  countryCode: 'IS', timeZone: 'Atlantic/Reykjavik' },\n  { code: '353', countryName: 'Irlanda',   countryCode: 'IE', timeZone: 'Europe/Dublin' },\n  { code: '352', countryName: 'Luxemburgo', countryCode: 'LU', timeZone: 'Europe/Luxembourg' },\n  { code: '351', countryName: 'Portugal',  countryCode: 'PT', timeZone: 'Europe/Lisbon' },\n  { code: '49',  countryName: 'Alemania',  countryCode: 'DE', timeZone: 'Europe/Berlin' },\n  { code: '48',  countryName: 'Polonia',   countryCode: 'PL', timeZone: 'Europe/Warsaw' },\n  { code: '47',  countryName: 'Noruega',   countryCode: 'NO', timeZone: 'Europe/Oslo' },\n  { code: '46',  countryName: 'Suecia',    countryCode: 'SE', timeZone: 'Europe/Stockholm' },\n  { code: '45',  countryName: 'Dinamarca', countryCode: 'DK', timeZone: 'Europe/Copenhagen' },\n  { code: '44',  countryName: 'Reino Unido', countryCode: 'GB', timeZone: 'Europe/London' },\n  { code: '43',  countryName: 'Austria',   countryCode: 'AT', timeZone: 'Europe/Vienna' },\n  { code: '41',  countryName: 'Suiza',     countryCode: 'CH', timeZone: 'Europe/Zurich' },\n  { code: '40',  countryName: 'Rumanía',   countryCode: 'RO', timeZone: 'Europe/Bucharest' },\n  { code: '39',  countryName: 'Italia',    countryCode: 'IT', timeZone: 'Europe/Rome' },\n  { code: '38',  countryName: 'Ex-Yugoslavia (legacy)', countryCode: 'YU', timeZone: 'Europe/Belgrade' },\n  { code: '37',  countryName: 'Bálticos (legacy)', countryCode: 'BAL', timeZone: 'Europe/Vilnius' },\n  { code: '36',  countryName: 'Hungría',   countryCode: 'HU', timeZone: 'Europe/Budapest' },\n  { code: '35',  countryName: 'Europa Este (legacy)', countryCode: 'EEAST', timeZone: 'Europe/Prague' },\n  { code: '34',  countryName: 'España',    countryCode: 'ES', timeZone: 'Europe/Madrid' },\n  { code: '33',  countryName: 'Francia',   countryCode: 'FR', timeZone: 'Europe/Paris' },\n  { code: '32',  countryName: 'Bélgica',   countryCode: 'BE', timeZone: 'Europe/Brussels' },\n  { code: '31',  countryName: 'Países Bajos', countryCode: 'NL', timeZone: 'Europe/Amsterdam' },\n  { code: '30',  countryName: 'Grecia',    countryCode: 'GR', timeZone: 'Europe/Athens' },\n\n  // ======= ASIA-PACÍFICO =======\n  { code: '886', countryName: 'Taiwán',           countryCode: 'TW', timeZone: 'Asia/Taipei' },\n  { code: '853', countryName: 'Macao',             countryCode: 'MO', timeZone: 'Asia/Macau' },\n  { code: '852', countryName: 'Hong Kong',         countryCode: 'HK', timeZone: 'Asia/Hong_Kong' },\n  { code: '689', countryName: 'Polinesia Francesa',countryCode: 'PF', timeZone: 'Pacific/Tahiti' },\n  { code: '685', countryName: 'Samoa',             countryCode: 'WS', timeZone: 'Pacific/Apia' },\n  { code: '679', countryName: 'Fiyi',              countryCode: 'FJ', timeZone: 'Pacific/Fiji' },\n  { code: '673', countryName: 'Brunéi',            countryCode: 'BN', timeZone: 'Asia/Brunei' },\n  { code: '65',  countryName: 'Singapur',          countryCode: 'SG', timeZone: 'Asia/Singapore' },\n  { code: '64',  countryName: 'Nueva Zelanda',     countryCode: 'NZ', timeZone: 'Pacific/Auckland' },\n  { code: '63',  countryName: 'Filipinas',         countryCode: 'PH', timeZone: 'Asia/Manila' },\n  { code: '62',  countryName: 'Indonesia',         countryCode: 'ID', timeZone: 'Asia/Jakarta' },\n  { code: '61',  countryName: 'Australia',         countryCode: 'AU', timeZone: 'Australia/Sydney' },\n  { code: '60',  countryName: 'Malasia',           countryCode: 'MY', timeZone: 'Asia/Kuala_Lumpur' },\n  { code: '972', countryName: 'Israel',            countryCode: 'IL', timeZone: 'Asia/Jerusalem' },\n  { code: '971', countryName: 'Emiratos Árabes Unidos', countryCode: 'AE', timeZone: 'Asia/Dubai' },\n  { code: '968', countryName: 'Omán',              countryCode: 'OM', timeZone: 'Asia/Muscat' },\n  { code: '966', countryName: 'Arabia Saudita',    countryCode: 'SA', timeZone: 'Asia/Riyadh' },\n  { code: '965', countryName: 'Kuwait',            countryCode: 'KW', timeZone: 'Asia/Kuwait' },\n  { code: '964', countryName: 'Irak',              countryCode: 'IQ', timeZone: 'Asia/Baghdad' },\n  { code: '963', countryName: 'Siria',             countryCode: 'SY', timeZone: 'Asia/Damascus' },\n  { code: '962', countryName: 'Jordania',          countryCode: 'JO', timeZone: 'Asia/Amman' },\n  { code: '961', countryName: 'Líbano',            countryCode: 'LB', timeZone: 'Asia/Beirut' },\n  { code: '974', countryName: 'Qatar',             countryCode: 'QA', timeZone: 'Asia/Qatar' },\n  { code: '973', countryName: 'Baréin',            countryCode: 'BH', timeZone: 'Asia/Bahrain' },\n  { code: '82',  countryName: 'Corea del Sur',     countryCode: 'KR', timeZone: 'Asia/Seoul' },\n  { code: '81',  countryName: 'Japón',             countryCode: 'JP', timeZone: 'Asia/Tokyo' },\n  { code: '86',  countryName: 'China',             countryCode: 'CN', timeZone: 'Asia/Shanghai' },\n  { code: '7',   countryName: 'Rusia/Kazajistán',  countryCode: 'RU', timeZone: 'Europe/Moscow' },\n  { code: '90',  countryName: 'Turquía',           countryCode: 'TR', timeZone: 'Europe/Istanbul' },\n];\n\nfunction normalizePhone(p) {\n  if (!p) return '';\n  let s = String(p);\n  s = s.replace(/\\D/g, '');  // deja solo dígitos\n  if (s.startsWith('00')) s = s.slice(2); // 00xx -> xx\n  return s;\n}\n\nfunction detectByPrefix(digits) {\n  // probar prefijo más largo primero\n  const sorted = [...dialMap].sort((a,b) => b.code.length - a.code.length);\n  for (const entry of sorted) {\n    if (digits.startsWith(entry.code)) return entry;\n  }\n  return { code: '', countryName: 'Desconocido', countryCode: '', timeZone: 'UTC' };\n}\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Obtener el teléfono con plus del nodo anterior\n  const raw = $('trig_webhook_sign').first().json.body.telefono || $('trig_webhook_sign').first().json.body.telefono_cliente || item.json.telefono || '';\n  \n  let digits = normalizePhone(raw);\n\n  // Normalizar dígito extra móvil AR/MX (mismo criterio que datos_v2 del setter)\n  // WhatsApp/algunos leads añaden un 1 tras 52 (MX) o un 9 tras 54 (AR). El CRM debe\n  // guardar el formato canónico sin ese dígito para que el matching con el setter funcione.\n  if (digits.length === 13 && digits.startsWith('521')) digits = '52' + digits.slice(3);\n  if (digits.length === 13 && digits.startsWith('549')) digits = '54' + digits.slice(3);\n\n  const match = detectByPrefix(digits);\n\n  const nationalNumber = match.code && digits.startsWith(match.code)\n    ? digits.slice(match.code.length)\n    : digits;\n\n  // Solo devolver los campos de país\n  results.push({\n    json: {\n      phone_e164: digits,\n      dialCode: match.code,\n      countryName: match.countryName,\n      countryCode: match.countryCode,\n      timeZone: match.timeZone || 'UTC',\n      nationalNumber: nationalNumber\n    },\n    pairedItem: { item: 0 }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        816
      ],
      "id": "b21e18de-d014-4263-8445-47167a2a5932",
      "name": "calc_country_detect"
    },
    {
      "parameters": {
        "jsCode": "// Calcula los grupos del alumno segun el tipo de contrato.\n// Se guarda como texto separado por comas para la celda de seleccion multiple del Sheet.\nconst t = String($('trig_webhook_sign').first().json.body.tipo_contrato || '').toLowerCase().trim();\n\n// Todos los alumnos pertenecen a Iniciacion\nconst grupos = ['Iniciación'];\n\n// Advanced Healers: advanced healers, eca y energy master\nif (['acuerdo_acceso_advanced_healers', 'alquimia_vital_eca', 'alquimia_vilal_eca', 'alquimia_vital_energy_master', 'alquimia_vilal_energy_master'].includes(t)) {\n  grupos.push('Advanced Healers');\n}\n\n// Emprende con Alma: solo ECA\nif (t === 'alquimia_vital_eca' || t === 'alquimia_vilal_eca') {\n  grupos.push('Emprende con Alma');\n}\n\n// Energy Masters: solo energy master\nif (t === 'alquimia_vital_energy_master' || t === 'alquimia_vilal_energy_master') {\n  grupos.push('Energy Masters');\n}\n\n// oferta_iniciacion_vitaliza y resto: solo Iniciacion (ya incluido)\n\nreturn [{ json: { tipo_contrato: t, grupos: grupos.join(', '), grupos_lista: grupos, plan: grupos[grupos.length - 1] }, pairedItem: { item: 0 } }];\n"
      },
      "id": "a0b4d1b1-ac8b-4e6a-aa3e-2239a9ec32b4",
      "name": "calc_grupos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        816
      ]
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -624,
        1344
      ],
      "id": "c5b8fb8d-93e6-488a-8f62-635754c30b31",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.transcripcion }}",
          "mode": "url"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        1328
      ],
      "id": "1698d8a2-eacb-4b7c-8fee-3356e4ea9a7d",
      "name": "descargar_doc_n",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U3gk9gfW9ynkKc2U",
          "name": "Google Drive - Lucem"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        64,
        1328
      ],
      "id": "4039d4ff-91b7-4df7-a18c-0bc172aff410",
      "name": "extraer_contenido_n"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "content": "=Transcripción de la llamada:\n{{ $json.text }}"
            },
            {
              "role": "system",
              "content": "Eres un asistente experto en ventas y análisis de clientes. Analiza la siguiente transcripción completa de una llamada de venta y extrae detalladamente en español: \n\n1. **Objetivos**: Qué metas o resultados busca conseguir el alumno. \n\n2. **Dolores**: Qué frustraciones, miedos o problemas actuales tiene. \n\n3. **Deseos**: Qué transformación o estado futuro ideal anhela.  Estructura el resultado con viñetas claras y profesionales, listas para ser enviadas por WhatsApp. Sin saludos ni introducciones.  "
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"objetivos\": {\n      \"type\": \"string\"\n    },\n    \"dolores\": {\n      \"type\": \"string\"\n    },\n    \"deseos\": {\n      \"type\": \"string\"\n    }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"objetivos\", \"dolores\", \"deseos\"]\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        256,
        1328
      ],
      "id": "a4397377-c77b-460f-8408-672a7912d10b",
      "name": "agente_objetivos",
      "credentials": {
        "openAiApi": {
          "id": "M9J3rAIJNEjdyXGG",
          "name": "Cerebro"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53291598-1bb7-4975-adb0-4aa19685b6b8",
              "name": "mensaje",
              "value": "=*¡NUEVO ALUMNO! *  \n\n*👤 Datos del Alumno:* \n\n• *Nombre:* {{ $('trig_webhook_sign').item.json.body.nombre_cliente_contrato }}\n\n• *WhatsApp:* {{'https://wa.me/'+ $('trig_webhook_sign').first().json.body.telefono }} \n\n• *Email:* {{ $('trig_webhook_sign').first().json.body.email_cliente }}  \n\n*📝 Contrato en PDF (Google Drive):* {{ $('upload_pdf_to_drive').first().json.webViewLink }}  \n\n*🎯 Objetivos:* \n{{ $json.output[0].content[0].text.objetivos }}   \n\n*🎯 Dolores:* \n{{ $json.output[0].content[0].text.dolores }}\n\n*🎯 Deseos:* \n{{ $json.output[0].content[0].text.deseos }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        1328
      ],
      "id": "658a26e1-d839-489d-b249-f061c3502057",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "trig_webhook_sign": {
      "main": [
        [
          {
            "node": "set_vars_html_doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "html_to_google_doc": {
      "main": [
        [
          {
            "node": "wait_5_seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait_5_seconds": {
      "main": [
        [
          {
            "node": "download_doc_as_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_doc_as_pdf": {
      "main": [
        [
          {
            "node": "upload_pdf_to_drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_pdf_to_drive": {
      "main": [
        [
          {
            "node": "delete_temp_google_doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete_temp_google_doc": {
      "main": [
        [
          {
            "node": "calc_country_detect",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_sheet_informes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_sheets_alumnos": {
      "main": [
        [
          {
            "node": "calc_grupos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_sheets_seguimiento": {
      "main": [
        [
          {
            "node": "post_sheets_pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_sheets_pagos": {
      "main": [
        [
          {
            "node": "flow_check_contrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flow_check_contrato": {
      "main": [
        [
          {
            "node": "post_whatsapp_group_alma",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "post_whatsapp_group_alquimia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_whatsapp_group_alma": {
      "main": [
        [
          {
            "node": "post_whatsapp_group_alquimia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_sheet_informes": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_has_doc": {
      "main": [
        [
          {
            "node": "descargar_doc_n",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_empty_objectives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_empty_objectives": {
      "main": [
        [
          {
            "node": "switch_closer_notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_closer_notify": {
      "main": [
        [
          {
            "node": "post_whatsapp_daniel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "post_whatsapp_albert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "post_whatsapp_nathatia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_whatsapp_daniel": {
      "main": [
        [
          {
            "node": "post_whatsapp_rafaelle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_whatsapp_albert": {
      "main": [
        [
          {
            "node": "post_whatsapp_rafaelle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post_whatsapp_nathatia": {
      "main": [
        [
          {
            "node": "post_whatsapp_rafaelle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "style_html_doc": {
      "main": [
        [
          {
            "node": "html_to_google_doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_vars_html_doc": {
      "main": [
        [
          {
            "node": "style_html_doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calc_country_detect": {
      "main": [
        [
          {
            "node": "post_sheets_alumnos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calc_grupos": {
      "main": [
        [
          {
            "node": "post_sheets_seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "check_has_doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "descargar_doc_n": {
      "main": [
        [
          {
            "node": "extraer_contenido_n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extraer_contenido_n": {
      "main": [
        [
          {
            "node": "agente_objetivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agente_objetivos": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "switch_closer_notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5fb31353bf4dc16311b0347ead4b884fad18ae1960ff4cbda8f09bf4a2cad0c8"
  }
}